{% extends 'base.html.twig' %}

{% block head %}
<!DOCTYPE html>
<html>
<head>
    <html lang="fr-FR">
    <meta charset="UTF-8">
    <title>{% block title %}Food Sens{% endblock %}</title>
        {% block stylesheets %}
            <link href="/css/style.css" rel="stylesheet" type="text/css"/>
            <link href="/css/auth.css" rel="stylesheet" type="text/css"/>

            <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300display=swap" rel="stylesheet">
        {% endblock %}   
</head>
</html>
{% endblock %}

{% block body %}
<html>
<body>
        
        
        <span class="white_bubble1"></span> <span class="white_bubble1_blur"></span>
        <span class="white_bubble2"></span> <span class="white_bubble2_blur"></span>
        <span class="white_bubble3"></span> <span class="white_bubble3_blur"></span>
        <span class="blue_bubble"></span> <span class="blue_bubble_blur"></span>
        <span class="blue_bubble"></span> <span class="blue_bubble_blur"></span>
        <span class="yellow_bubble"></span> <span class="yellow_bubble_blur"></span>

        <div class="main3">
            <div class="main1">
              {{ include('base/nav.html.twig') }}
                <div class="menu">
                    <button> 
                            <img class="logo"src="/img/frigo.png"alt="Icone de réfrigérateur">
                            Mon Frigo  
                    </button>
                   
                    <button> 
                        <img class="logo"src="/img/favorites.png"alt="Icone de réfrigérateur">
                        Mes Favoris
                    </button>

                    <button> 
                        <img class="logo"src="/img/loupe (2).png"alt="Icone de réfrigérateur">
                        Chercher une recette
                    </button>
                    <button> 
                        <img class="logo"src="/img/journal.png"alt="Icone de réfrigérateur">
                        Recap Journalier
                    </button>
                </div>
            </div>
                    <div class="main2">
                        {% if app.user %}
                        <div class="logout">
                            <p>Vous êtes connecté en tant que {{ app.user.userIdentifier }}</p><div class="logout_btn"> <a href="{{ path('app_logout') }}">Se Déconnecter</a></div>
                        </div>
                        {% else %}
                        <div class="intro">Vous n'êtes pas connecté</div>
                        <div class="intro2">Authentifiez vous dès maintenant !</div>
                        <div class="login_box">
                            <div class="login"><a href="{{ path('app_login') }}">Se Connecter</a></div>
                            <div class="login"><a href="{{ path('app_register') }}">S'Inscrire</a></div>
                        </div>
                        {% endif %}
                    </div>
        </div>

</body>
</html>
{% endblock %}

{% block javascripts %}
            
{% endblock %}

