{% extends 'base.html.twig' %}

{% block head %}
<!DOCTYPE html>
<html>
<head>
    <html lang="fr-FR">
    <meta charset="UTF-8">
    <title>{% block title %}Food Sens{% endblock %}</title>
        {% block stylesheets %}
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link href="/css/style4.css" rel="stylesheet" type="text/css"/>
            <link href="/css/auth.css" rel="stylesheet" type="text/css"/>

            <link rel="preconnect" href="https://fonts.googleapis.com">
        {% endblock %}   
</head>
</html>
{% endblock %}

{% block body %}
<html>
<body>
        
        
        <span class="white_bubble1"></span> <span class="white_bubble1_blur"></span>
        <span class="white_bubble2"></span> <span class="white_bubble2_blur"></span>
        <span class="white_bubble3"></span> <span class="white_bubble3_blur"></span>
        <span class="blue_bubble"></span> <span class="blue_bubble_blur"></span>
        <span class="blue_bubble"></span> <span class="blue_bubble_blur"></span>
        <span class="yellow_bubble"></span> <span class="yellow_bubble_blur"></span>

        <div class="main3">
  
            <div class="main1">
              {{ include('base/nav.html.twig') }}
               
                    <div class="main2">
                    
                    {% if page_name == 'home' %} 
                    <div class="Accueil"> Accueil </div>
                                  <div class="tab">
                                      <a href="{{ path('app_home') }}" class="tab_1"> Notre Projet</a>
                                      <a href="{{ path('NotreEquipe') }}" class="tab_1"> Notre Equipe</a>
                                      <a href="{{ path('NousContacter') }}" class="tab_1"> Nous Contacter</a>
                                  </div> 
                                      <div class="main2_body ">
                                          <p class="reveal-1"> Food Sens est une application web visant à aider ses utilisateurs au quotidien dans l'élaboration de leur régime alimentaire. En Vous proposant des recettes riches et variées adaptées aux ingrédients dont vous disposez en temps réel.
                                          Nous voulons mettre la cuisine à la portée de tous et vous donner les outils afin de mieux la comprendre et suivre vos apports nutritionnels. </p>
                                          <img class="reveal-2" src="img/Team Work_Monochromatic.png">
                                      </div> 
                    {% endif %}
                   
                    
                    
                    {% if page_name == 'searchRecipe' %}
                    {% if app.user %}
                    <a href="{{ path('user_recipe_create') }}">Créer une recette</a>
                         
                            <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="{{ path('searchRecipe') }}">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search" name ="search">
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Entrer</button>
                      </span>
                    </div>
                  </form>
                    {% endif %}
                     {% for recipe in recipes %}
                     <div class="card" style="width: 18rem;">
                     <img src="{{ asset('uploads/' ~ recipe.image) }}" class="card-img-top" alt="recipeimage">
                    <div class="card-body">
                     <h5 class="card-title">{{recipe.name}}</h5>
                    <p class="card-text">{{recipe.steps}}</p>
                        <a href="{{ path('show_recipe',{"id" : recipe.id,"editCom" : 'undefined'})}}" class="btn btn-primary">Go</a>
                          <a href="{{ path('user_like', {"id" : recipe.id }) }}">like</a>
                          {# <img src='https://img.icons8.com/ios/64/-synthetidiamond-also-referred-to-as-laboratory-grown-diamond./hearts--v1.png' alt='test'>
                         <img src='https://img.icons8.com/office/64/-synthetidiamond-also-referred-to-as-laboratory-grown-diamond./hearts.png' alt='test1'> #}
                      </div>
                        </div>
                     {% endfor %}
                     {% elseif page_name == 'get_user_profil' %}
                     {{ include('user/getUserProfil.html.twig') }}
                     {% elseif page_name == 'showRecipe' %}
                     {{ include('home/showRecipe.html.twig') }}
                     {% elseif page_name == 'myFav' %}
                       {{ include('user/myFav.html.twig') }}
                     {% elseif page_name == 'myFridge' %}
                       {{ include('user/fridge.html.twig') }}
                     {% elseif page_name == 'modifyRecipe' %}
                       {{ include('base/_form.html.twig', {'button_label': "create"}) }}
                      {% elseif page_name == 'admin_page'%}
                      {{ include('admin/index.html.twig') }}
                      {% elseif page_name  == 'admin_page_getAll' %}
                       {{ include('admin/form/index.html.twig') }}
                      {% elseif page_name == 'admin_page_upate' %}
                      {{ include('admin/form/edit.html.twig') }}
                       {% elseif page_name == 'userProfile' %}
                              <div class="head">
                        <h1>Informations : </h1>
                        </div>   
                        <div class="modification  reveal-1" style="font-size : 2vh;  padding :2vw">

                    
                            <h3> Pseudo :</h3> {{info.pseudo}} <a style="margin-left:1vw; color:blue" href="{{ path('user_profil_edit', {"id" : app.user.id , 'onModify' : "pseudo" }) }}">edit</a> 
                            <h3>  Email  :</h3>  {{info.email}} <a style="margin-left:1vw;color:blue" href="{{ path('user_profil_edit', {"id" : app.user.id, "name" : 'email', 'onModify' : "email" }) }}">edit</a> 
                            <h3>  Mot de passe :</h3> {{info.password}} <a style="margin-left:1vw;color:blue" href="{{ path('user_profil_edit', {"id" : app.user.id, 'onModify' : "password"  }) }}">edit</a>  
                            <h3> Photo de profil :</h3> 
                             <div class="avatar">
                                        <img src="{{ asset('uploads/' ~ info.image) }}" class="card-img-top" alt="infoImage" style="width : 300px">  
                                            <a style="margin-left:1vw;color:blue" href="{{ path('user_profil_edit', {"id" : app.user.id, 'onModify' : "profilePicture"  }) }}">edit</a>  
                              </div>
                      
                        </div>
                        {% elseif page_name == 'userProfileEdition' %}
                           <div class="head">
                                <h1> Modification de profil</h1>
                                        Informations : 
                                </div>  
                        {{ include('user/_form.html.twig', {'button_label': "enregistrer"}) }}
                       {% else %}
                     {% endif %}
                    </div>
                    
                    <div class="main4">
                        <div class="profile">
                            Mon Profil
                        {% if app.user %}
                       {{ include('base/logout.html.twig')}}
                        {% else %}
                        <div class="intro">Vous n'êtes pas connecté</div>
                        <div class="intro2">Authentifiez vous dès maintenant !</div>
                        <div class="login_box">
                            <a href="{{ path('app_login') }}"><button class="login">Se Connecter</button></a>
                           <a href="{{ path('app_register') }}"> <button class="login">S'Inscrire</button></a>
                        </div>
                        {% endif %}
                        </div>                   
                    </div>                  
        </div>




<script >//script pour l'anim de texte (je n'ai pas réussi à l'include, ou à rediriger vers /public/js/animText.js .. ça doit être le twig ou jsp)
const ratio=0
const options = {
    root: null,
    rootMargin: '0px',
    threshold: ratio
 }
const handleIntersect = function(entries, observer){
    entries.forEach(function (entry) {
        if(entry.intersectionRatio > ratio){
          entry.target.classList.add('reveal-visible')
          observer.unobserve(entry.target) 
        }
        
    }) 
}

const observer = new IntersectionObserver(handleIntersect, options);
document.querySelectorAll('[class*="reveal-"]').forEach(function (r){
    observer.observe(r)
})</script> 
         

</body>
</html>
{% endblock %}