{% extends 'base.html.twig' %}

{% block head %}
<!DOCTYPE html>
<html>
<head>
    <html lang="fr-FR">
    <meta charset="UTF-8">
    <title>{% block title %}Food Sens{% endblock %}</title>
        {% block stylesheets %}
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link href="/css/style2.css" rel="stylesheet" type="text/css"/>
            <link href="/css/auth1.css" rel="stylesheet" type="text/css"/>

            <link rel="preconnect" href="https://fonts.googleapis.com">
        {% endblock %}   
</head>
</html>
{% endblock %}

{% block body %}
<html>
<body>
        
        
        <span class="white_bubble1"></span> <span class="white_bubble1_blur"></span>
        <span class="white_bubble2"></span> <span class="white_bubble2_blur"></span>
        <span class="white_bubble3"></span> <span class="white_bubble3_blur"></span>
        <span class="blue_bubble"></span> <span class="blue_bubble_blur"></span>
        <span class="blue_bubble"></span> <span class="blue_bubble_blur"></span>
        <span class="yellow_bubble"></span> <span class="yellow_bubble_blur"></span>

        <div class="main3">
  
            <div class="main1">
              {{ include('base/nav.html.twig') }}
               
                    <div class="main2">
                    
                    {% if page_name == 'home' %} 
                    <div class="Accueil"> Accueil </div>
                                  <div class="tab">
                                      <a href="{{ path('app_home') }}" class="tab_1"> Notre Projet</a>
                                      <a href="{{ path('app_home2') }}" class="tab_1"> Notre Equipe</a>
                                      <a href="{{ path('app_home3') }}" class="tab_1"> Nous Contacter</a>
                                  </div> 
                                      <div class="main2_body">
                                          <p> Food Sens est une application web visant à aider ses utilisateurs au quotidien dans l'élaboration de leur régime alimentaire. En Vous proposant des recettes riches et variées adaptées aux ingrédients dont vous disposez en temps réel.
                                          Nous voulons mettre la cuisine à la portée de tous et vous donner les outils afin de mieux la comprendre et suivre vos apports nutritionnels. </p>
                                          <img src="img/Team Work_Monochromatic.png">
                                      </div> 
                    {% endif %}
                    {% if page_name == 'home2' %}
                    <div class="Accueil"> Accueil </div>
                                  <div class="tab">
                                      <a href="{{ path('app_home') }}" class="tab_1"> Notre Projet</a>
                                      <a href="{{ path('app_home2') }}" class="tab_1"> Notre Equipe</a>
                                      <a href="{{ path('app_home3') }}" class="tab_1"> Nous Contacter</a>
                                  </div>
                                      <div class="main2_body">
                                          <p>Notre équipe est composée de trois étudiants en troisième année de Licence Informatique à la Faculté des Sciences et Techniques de TOURS.
                                          Nous profitons de l'opportunité d'un projet de groupe mit en place en cours de Developpement Web, pour réaliser une idée de projet personnel qui nous tient particulièrement à cœur. </p>
                                          <img src="img/Team success _Monochromatic.png">
                                      </div> 
                    {% endif %}
                    {% if page_name == 'home3' %}
                    <div class="Accueil"> Accueil </div>
                                  <div class="tab">
                                      <a href="{{ path('app_home') }}" class="tab_1"> Notre Projet</a>
                                      <a href="{{ path('app_home2') }}" class="tab_1"> Notre Equipe</a>
                                      <a href="{{ path('app_home3') }}" class="tab_1"> Nous Contacter</a>
                                  </div>
                                      <div class="main2_body">
                                          <p> Vous rencontrez un problème ? Ou souhaitez tout simplement nous contacter ?<br>
                                          Nous serions heureux d'intéragir avec vous !</p>
                                          <img src="img/Customer service_Monochromatic.png">
                                      </div> 
                                      <div class='contact'>
                                        <a href="mailto:foodsens37000@gmail.com?subject=Food Sens 👨‍🍳"><button class="login">Nous Contacter</button></a>
                                      </div> 
                    {% endif %}
                    
                    {% if page_name == 'searchRecipe' %}
                    {% if app.user %}
                    <a href="{{ path('user_recipe_create') }}">Créer une recette</a>
                        {{ include('recipe/form.html.twig') }} 

                    {# <div class="search">
                      <input type="text" placeholder="Rechercher une recette..." id="recipeName"> 
                      <button> <a href="{{ path('findRecipe' , {"name" : 'undefined' }) }}"> Rechercher </a></button>  
                    </div>

                    <script>
                          <script src="/js/fos_js_routes.js"></script>
                          <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
                        
                          
                          var recipeName = document.getElementById('recipeName');    
                          Routing.generate('path('findByName')', { recipeName : recipeName });
                          
                    </script> #}
                                       
                    {% endif %}
                        {% if recipes|length > 0 %}
                              {% for recipe in recipes %}
                              <div class="card" style="width: 18rem;">
                                <img src="{{ asset('uploads/' ~ recipe.image) }}" class="card-img-top" alt="recipeimage">
                                  <div class="card-body">
                                    <h5 class="card-title">{{recipe.name}}</h5>
                                    <p class="card-text">{{recipe.steps}}</p>
                                    <a href="{{ path('showRecipe',{"id" : recipe.id,"editCom" : 'undefined'})}}" class="btn btn-primary">Go</a>
                                    <a href="{{ path('user_like', {"id" : recipe.id }) }}">like</a>
                                    {# <img src='https://img.icons8.com/ios/64/-synthetidiamond-also-referred-to-as-laboratory-grown-diamond./hearts--v1.png' alt='test'>
                                    <img src='https://img.icons8.com/office/64/-synthetidiamond-also-referred-to-as-laboratory-grown-diamond./hearts.png' alt='test1'> #}
                                  </div>
                              </div>
                              {% endfor %}
                        {% else %}
                        <p> Désolé, vous n'avez pas de recettes enregistrées...</p>
                        {% endif %}


                        {% if page_name == 'findRecipe' %}

                        coucou !!!
                          {% for recipe in recipes %}
                              <div class="card" style="width: 18rem;">
                                <img src="{{ asset('uploads/' ~ recipe.image) }}" class="card-img-top" alt="recipeimage">
                                  <div class="card-body">
                                    <h5 class="card-title">{{recipe.name}}</h5>
                                    <p class="card-text">{{recipe.steps}}</p>
                                    <a href="{{ path('showRecipe',{"id" : recipe.id,"editCom" : 'undefined'})}}" class="btn btn-primary">Go</a>
                                    <a href="{{ path('user_like', {"id" : recipe.id }) }}">like</a>
                                  </div>
                              </div>
                              {% endfor %}
                        {% endif %}

                     {% elseif page_name == 'showRecipe' %}
                     {{ include('home/showRecipe.html.twig') }}
                     {% elseif page_name == 'myFav' %}
                       {{ include('user/myFav.html.twig') }}
                     {% elseif page_name == 'myFridge' %}
                       {{ include('user/fridge.html.twig') }}
                     {% elseif page_name == 'modifyRecipe' %}
                       {{ include('base/_form.html.twig', {'button_label': "create"}) }}
                      {% elseif page_name == 'admin_page'%}
                      {{ include('admin/index.html.twig') }}
                      {% elseif page_name  == 'admin_page_getAll' %}
                       {{ include('admin/form/index.html.twig') }}
                      {% elseif page_name == 'admin_page_upate' %}
                      {{ include('admin/form/edit.html.twig') }}
                       {% elseif page_name == 'userProfile' %}
                              <div class="head">
                        <h1> Modification de profil</h1>
                        Informations : 
                        </div>   
                        <div class="modification" style="font-size : 2vh;  padding :2vw">

                    
                            <h3> Pseudo :</h3> {{info.pseudo}} <a style="margin-left:1vw; color:blue" href="{{ path('user_profil_edit', {"id" : app.user.id , 'onModify' : "pseudo" }) }}">edit</a> 
                            <h3>  Email  :</h3>  {{info.email}} <a style="margin-left:1vw;color:blue" href="{{ path('user_profil_edit', {"id" : app.user.id, "name" : 'email', 'onModify' : "email" }) }}">edit</a> 
                            <h3>  Mot de passe :</h3> {{info.password}} <a style="margin-left:1vw;color:blue" href="{{ path('user_profil_edit', {"id" : app.user.id, 'onModify' : "password"  }) }}">edit</a>  
                            <h3> Photo de profil :</h3> 
                             <div class="avatar">
                                        <img src="{{ asset('uploads/' ~ info.image) }}" class="card-img-top" alt="infoImage" style="width : 300px">  
                                            <a style="margin-left:1vw;color:blue" href="{{ path('user_profil_edit', {"id" : app.user.id, 'onModify' : "profilePicture"  }) }}">edit</a>  
                              </div>
                      
                        </div>
                        {% elseif page_name == 'userProfileEdition' %}
                           <div class="head">
                                <h1> Modification de profil</h1>
                                        Informations : 
                                </div>  
                        {{ include('user/_form.html.twig', {'button_label': "enregistrer"}) }}
                       {% else %}
                     {% endif %}
                    </div>
                    
                    <div class="main4">
                        <div class="profile">
                            Mon Profil
                        {% if app.user %}
                       {{ include('base/logout.html.twig')}}
                        {% else %}
                        <div class="intro">Vous n'êtes pas connecté</div>
                        <div class="intro2">Authentifiez vous dès maintenant !</div>
                        <div class="login_box">
                            <a href="{{ path('app_login') }}"><button class="login">Se Connecter</button></a>
                           <a href="{{ path('app_register') }}"> <button class="login">S'Inscrire</button></a>
                        </div>
                        {% endif %}
                        </div>                   
                    </div>                  
        </div>
</body>
</html>
{% endblock %}

{% block javascripts %}
            
{% endblock %}

