{% extends 'base.html.twig' %}

{% block stylesheets %}
   <link href="/css/recipe1.css" rel="stylesheet" type="text/css"/>           
{% endblock %}   

{% block body %}
<html>
<body>
   
    <h1>{{recipe.name}}</h1>
    
    <div class="recipe">
      <img src="{{ asset('uploads/' ~ recipe.image) }}" class="card-img-top" alt="recipeimage" style="width : 300px">

      <p>
         <li>Steps : {{recipe.steps}}</li>
         <li>People : {{recipe.people}}</li>
         <li>Budget : {{recipe.budget}}</li>
         <li>Difficulty : {{recipe.difficulty}}</li>
         <li>Preptime : {{recipe.preptime}}</li>
         <li>TotalTime : {{recipe.toltaltime}}</li>
         <li>Create by : {{recipe.Author != null ? recipeAuthor : 'deleted user' }}</li>
      </p>

     {% if app.user and ('ROLE_ADMIN' in app.user.roles or (recipe.author != null and recipe.author.id == app.user.id))  %}
      <a class='admin' href="{{ path('user_recipe_delete', {"id" : recipe.id }) }}">Supprimer</a>
      <a class='admin' href="{{ path('user_recipe_edit', {"id" : recipe.id }) }}">Editer</a>
     {% endif %}
     {% if editedComId == 'undefined' %}
     <div class="base_form">
       {{ include('base/_form.html.twig', {'button_label': "envoyer"}) }}
      </div>
       {% endif %}
     {% for commentaire in commentaires %}
    <div class"com" style="border : 1px solid black; width:70%;  display: block; margin-left: auto; margin-right: auto; padding-left: 1vw">
   {% if editedComId and editedComId == commentaire.id %}
         {{ include('base/_form.html.twig', {'button_label': "editer"}) }}        
    {% else %}
        <p> {{commentaire.content}}</p>
         <h5>envoyé par : {{commentaire.owner != null ? commentaire.owner.pseudo : 'deleted user'}}</h5>
             <h5>le : {{commentaire.date|date("m/d/Y")}}</h5>
               {% if commentaire in app.user.commentaires or "ROLE_ADMIN" in app.user.roles %}
                  <a href="{{ path('recipe_delete_commentaire', {"id": commentaire.id, "editCom" : 'undefined'}) }}">Supprimer</a> 
                  <a href="{{path('show_recipe',{"id" : recipe.id,"editCom" : commentaire.id})}}"> Modifier</a>
               {% endif %}

   {% endif %}
      </div>
     {% endfor %}
     
   </div>
</body>
</html>

{% endblock %}  
