{% extends 'base.html.twig' %}

{% block title %}{{ name ~ type }}{% endblock %}

{% block body %}
    <h1>{{ name ~ " " ~ type }}</h1>
    {{ include('base/nav.html.twig') }}
    {{ include('admin/form/_form.html.twig', {'button_label': name == "update" ? "update" : "create"}) }}

    <a href="{{ path('admin') }}">back to list</a>

{% endblock %}  