{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    {{ include('base/nav.html.twig') }}
 <div>
{% set keys = data[0]|keys %}
{% set controllerName = app.request.requesturi|slice(7) %}
{% set controllerPath = "admin_" ~ app.request.requesturi|slice(7)  %}
<table>
<thead>
<tr>
{% for key in keys %}
  <th>{{ key }}</th>
   {% endfor %}
   </tr>
   </thead>
   <tbody>
  {% for key,element in data %}
    <tr>
      {% for info in element %}
        {% if info is iterable %}
        <td>
            {% for el in info %}
              {{el}}
            {% endfor %}
        </td>
        {% else %}
          <td>{{info}}</td>
        {% endif %}
    {% endfor %}
     <td> <a href="{{ path(controllerPath ~ '_edit', {"id": element.id}) }}">edit</a></td>
      <td> <a href="{{ path(controllerPath ~ '_delete', {"id": element.id}) }}">delete</a></td>
  {% endfor %}
    </tr>
  </tbody>
  </table>
  <a href="{{ path(controllerPath ~ '_create') }}">Create</a>
</div>

{% endblock %}
