<table>
<thead>
<tr>
{% if data is empty %}
Vide !
{% else %}
{% for key in data[0]|keys %}
  <th>{{ key }}</th>
   {% endfor %}
   </tr>
   </thead>
   <tbody>
  {% for element in data %}
    <tr >
      {% for info in element %}
      
        {% if info is iterable %}
        <td>
            {% for el in info %}
              {{el}}
            {% endfor %}
        </td>
        {% else %}
          <td  style="    overflow: hidden;max-width: 10ch; text-overflow: ellipsis; white-space: nowrap;">{{info}}</td>
        {% endif %}
    {% endfor %}
     <td> <a href="{{ path('admin_update', {"name" :   name ,"id": element.id }) }}">edit</a></td>
      <td> <a href="{{ path('admin_delete', {"name" : name ,"id": element.id}) }}">delete</a></td> 
  {% endfor %}
    </tr>
    {% endif %}
  </tbody>
  </table>
  <a style="padding-right : 2vw" href="{{ path('admin_update',{"name" : name , "id" : "undefined"}) }}">Create</a> 
      <a href="{{ path('admin') }}">back to list</a>