 {% if app.user %}
                    <a href="{{ path('user_recipe_create') }}">Créer une recette</a>
                         
                            <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="{{ path('searchRecipe') }}">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search" name ="search">
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Entrer</button>
                      </span>
                    </div>
                  </form>
                    {% endif %}
                     {% for recipe in recipes %}
                     <div class="card" style="width: 18rem;">
                     <img src="{{ asset('uploads/' ~ recipe.image) }}" class="card-img-top" alt="recipeimage">
                    <div class="card-body">
                     <h5 class="card-title">{{recipe.name}}</h5>
                       <p class="card-text">{{recipe.steps}}</p>
                        <a href="{{ path('show_recipe',{"id" : recipe.id})}}" class="btn btn-primary">Go</a>
                          {% if app.user %}
                          <a href="{{ path('user_like', {"id" : recipe.id }) }}">like</a>
                          {% endif %}
                          {# <img src='https://img.icons8.com/ios/64/-synthetidiamond-also-referred-to-as-laboratory-grown-diamond./hearts--v1.png' alt='test'>
                         <img src='https://img.icons8.com/office/64/-synthetidiamond-also-referred-to-as-laboratory-grown-diamond./hearts.png' alt='test1'> #}
                      </div>
                        </div>
                     {% endfor %}