 {% if app.user %}
                    <a href="{{ path('user_recipe_create') }}">Créer une recette</a>
                         
                  <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="{{ path('searchRecipe') }}">
                    <div class="input-group" style="display :flex;flex-direction : column;width : 100%;justify-content : center;align-items : center">
                      <input type="text" class="form-control" placeholder="Search" name ="search" style="width : 90%">
                      <div style="display : flex; align-items : flex-start;width : 90%">
                        {% for triSection in triSections %}
                          <section style="display :flex;flex-direction : column;margin : 2%">
                            <h6>{{triSection[0]}}</h6>
                            {% for info in triSection[1] %}
                              <span>
                                <label for="checkbox|{{triSection[0]}}|{{info.id}}">{{info.name}}</label>
                                <input type="checkbox" name="checkbox|{{triSection[0]}}|{{info.id}}">
                              </span>
                            {% endfor %}
                          </section>
                        {% endfor %}
                         <section style="display :flex;margin : 2%">
                          <label for="checkbox|ableToDoWithFridge">Possible de faire avec mes ingrédients</label>
                          <input type="checkbox" checked="checked" name="checkbox|ableToDoWithFridge">
                         </section>
                      </div>
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Entrer</button>
                      </span>
                    </div>
                  </form>
                    {% endif %}
                     {% for recipe in recipes %}
                     <div class="card" style="width: 18rem;">
                     <img src="{{ asset('uploads/' ~ recipe.image) }}" class="card-img-top" alt="recipeimage">
                    <div class="card-body">
                     <h5 class="card-title">{{recipe.name}}</h5>
                       <p class="card-text">{{recipe.steps}}</p>
                        <a href="{{ path('show_recipe',{"id" : recipe.id})}}" class="btn btn-primary">Go</a>
                          {% if app.user %}
                          <a href="{{ path('user_like', {"id" : recipe.id }) }}">like</a>
                          {% endif %}
                          {# <img src='https://img.icons8.com/ios/64/-synthetidiamond-also-referred-to-as-laboratory-grown-diamond./hearts--v1.png' alt='test'>
                         <img src='https://img.icons8.com/office/64/-synthetidiamond-also-referred-to-as-laboratory-grown-diamond./hearts.png' alt='test1'> #}
                      </div>
                        </div>
                     {% endfor %}