{% extends 'base.html.twig' %}

{% block stylesheets %}
   <link href="/css/recipe1.css" rel="stylesheet" type="text/css"/>           
{% endblock %}   

{% block body %}
<html>
<body>
   
    <h1>{{recipe.name}}</h1>
    
    <div class="recipe">
      <img src="{{ asset('uploads/' ~ recipe.image) }}" class="card-img-top" alt="recipeimage" style="width : 300px">

      <p>
      <ul>
         <li>Steps : {{recipe.steps}}</li>
         <li>People : {{recipe.people}}</li>
         <li>Budget : {{recipe.budget}}</li>
         <li>Difficulty : {{recipe.difficulty}}</li>
         <li>Preptime : {{recipe.preptime}}</li>
         <li>Ingrédients nécéssaire : </li>
       
         <ul style="display : inline">
         {% for ingredient in ingredients %}
             <li style="display: inline;">{{ingredient.name}} </li>
         {% endfor %}
         </ul>
      </ul>
         {%  if recipe.Author != null %}
           <a href="{{path('get_user_profil',{"id" : recipeAuthor.id})}}">Autheur : {{recipeAuthor.pseudo}}</a>
         {% else %}
         <li>Autheur : deleted user</li>
         {% endif %}
      </p>

     {% if app.user and ('ROLE_ADMIN' in app.user.roles or (recipe.author != null and recipe.author.id == app.user.id))  %}
      <a class='admin' href="{{ path('user_recipe_delete', {"id" : recipe.id }) }}">Supprimer</a>
      <a class='admin' href="{{ path('user_recipe_edit', {"id" : recipe.id}) }}">Editer</a>
     {% endif %}
     {% if form is defined and editedComId == null  %}
     <div class="base_form">
       {{ include('base/_form.html.twig', {'button_label': "envoyer"}) }}
      </div>
       {% endif %}
       <h1>Commentaires : </h1>
     {% for commentaire in commentaires %}
    <div class="Commentaire-{{commentaire.id}}" style="border-bottom : 2px solid grey; width:100%;  display: block; margin-left: auto; margin-right: auto; padding-left: 1vw">
   {% if app.user and editedComId != null and editedComId == commentaire.id %}
       {{ include('base/_form.html.twig', {'button_label': "editer"}) }}       
    {% else %}
        <p> {{commentaire.content}}</p>
        <footer style="display:flex;justify-content : space-between">
        {%  if commentaire.owner != null %}
            <a href="{{path('get_user_profil',{"id" : commentaire.owner.id})}}">Envoyé par : {{commentaire.owner.pseudo}}</a>
         {% else %}
         <h5>envoyé par : deleted user </h5>
         {% endif %}
             <h5>le : {{commentaire.date|date("m/d/Y")}}</h5>
               {% if app.user and (commentaire in app.user.commentaires or "ROLE_ADMIN" in app.user.roles) %}
               <span>
                  <a href="{{ path('recipe_delete_commentaire', {"id": commentaire.id }) }}">Supprimer</a> 
                  <a href="{{path('show_recipe',{"id" : recipe.id ,"editCom" : commentaire.id })}}"> Modifier</a>
                  </span>
               {% endif %}
               </footer>

   {% endif %}
      </div>
     {% endfor %}
     
   </div>
</body>
</html>

{% endblock %}  
