

 {% block body %}
  
 <div class="modification" style="font-size : 2vh;padding :2VW">
            {% if onModify == "pseudo" %}
                            {{ form_start(form) }}
                            
                            <h3> Pseudo : </h3> {{ form_widget(form) }}
                             {{form_errors(form)}} 
                            <button class="btn">Enregistrer</button>
                            {{ form_end(form) }}       
            {% else %}
            <h3> Pseudo  :</h3>   {{app.user.pseudo}}  <a style="margin-left:1vw;color:blue" href="{{ path('user_profil_edit', {"id" : app.user.id, "onModify" : "pseudo"}) }}">Modifier</a>
            {% endif %}
            {% if onModify == "email" %}
                            {{ form_start(form) }}
                            <h3> Email : </h3> {{ form_widget(form) }}
                             {{form_errors(form)}} 
                            <button class="btn">Enregistrer</button>
                            {{ form_end(form) }}
             {% else %}
            <h3>  Email  :</h3>   {{app.user.email}}  <a style="margin-left:1vw;color:blue" href="{{ path('user_profil_edit', {"id" : app.user.id,"onModify" : "email"}) }}">Modifier</a>   
            {% endif %}

            {% if onModify == "password"  %}
                            {{ form_start(form) }}
                            <h3> Mot de passe : </h3> {{ form_widget(form) }}
                            {{form_errors(form)}} 
                    
                            <button class="btn">Enregistrer</button>
                            {{ form_end(form) }}
             {% else %}
            <h3>  Mot de passe :</h3>  {{app.user.password}}  <a style="margin-left:1vw;color:blue" href="{{ path('user_profil_edit', {"id" : app.user.id, "onModify" : "password"}) }}">Modifier</a>   
            {% endif %}  

            {% if onModify == "profilePicture"  %}
                            {{ form_start(form) }}
                          {{ form_widget(form) }}
                             {{form_errors(form)}} 
                            <button class="btn">Enregistrer</button>
                            {{ form_end(form) }}
             {% else %}
            <h3>  Photo de profil :</h3>  {{app.user.image}}  <a style="margin-left:1vw;color:blue" href="{{ path('user_profil_edit', {"id" : app.user.id, "onModify" : "profilePicture"}) }}">Modifier</a>   
            {% endif %}  


            
            
            

</div> 


 {% endblock %}
 

