{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
   <html>
   <body>
 <div class="modification" style="font-size : 2vh;  padding :2vw">            
    <h3> Pseudo :</h3> {{user.pseudo}} 
    <h3>  Email  :</h3>  {{user.email}}
    <h3> Photo de profil :</h3> 
    <div class="avatar">
    <img src="{{ asset('uploads/' ~ user.image) }}" class="card-img-top" alt="infoImage" style="width : 300px">  
 </div>
 <div>
    Recettes Favories
  {% for recipe in userFavories %}
                     <div class="card" style="width: 18rem;">
                     <img src="{{ asset('uploads/' ~ recipe.image) }}" class="card-img-top" alt="recipeimage">
                    <div class="card-body">
                     <h5 class="card-title">{{recipe.name}}</h5>
                    <p class="card-text">{{recipe.steps}}</p>
                        <a href="{{ path('show_recipe',{"id" : recipe.id, "editCom" : "undefined"})}}" class="btn btn-primary">Go</a>
                          <a href="{{ path('user_like', {"id" : recipe.id }) }}">like</a>
                          {# <img src='https://img.icons8.com/ios/64/-synthetidiamond-also-referred-to-as-laboratory-grown-diamond./hearts--v1.png' alt='test'>
                         <img src='https://img.icons8.com/office/64/-synthetidiamond-also-referred-to-as-laboratory-grown-diamond./hearts.png' alt='test1'> #}
                      </div>
                        </div>
                     {% endfor %}
                     <div>
   </body>
   </html>

{% endblock %}  
